{
  "extends": "../.eslintrc",
  "env": {
    "node": true
  },
  "rules": {
    "no-console": "error",
    "no-bitwise": 0,
    "strict": 0,
    "class-methods-use-this": 0,
    "no-useless-constructor": 0,
    "no-empty-function": 0,
    "@typescript-eslint/type-annotation-spacing": 0
  }
}
